.pageFile{
    border: 4px solid rgb(255, 255, 255);
}
.directory{
    border: 2px solid black;

}
.file{
    background-color: #ad9f9f;
    border: 1px solid black;
    margin-right: 4px;
}
.folder{
    background-color: #ad9f9f;
    border: 1px solid black;


}
.buttonContainer{
    display: flex;
    justify-content: space-between;
}